<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyAppWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyAppWeb.styles.css" asp-append-version="true" />
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">*@

</head>
<body>
    

    <header>
        @if (ViewData["ShowNavbar"] == null || (bool)ViewData["ShowNavbar"])
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.jpg" alt="Logo" style="height: 50px; margin-right: 20px;" />
                    <span style="margin-top: 10px;">Attendance System</span>
                </a>
                @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
            @*<div class="container-fluid">*@
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyAppWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sheet" asp-action="Index">Attendance Records</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        @*</li>
                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="sheet" asp-action="index">All Activities</a>
                        </li>*@
                         @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="sheet" asp-action="details">Working Houre</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log-In</a>
                        </li>*@
                        @RenderSection("AdditionalNavbarItems", required: false)
                    </ul>
                    <ul class="navbar-nav">
                        @if (ViewBag.HideLoginButton == null || ViewBag.HideLoginButton == false) 
                        {
                             <li class="nav-item">
                                 <a class="nav-link btn btn-outline-primary text-white" asp-area="" asp-controller="Account" asp-action="Login" style="color: white; border: none; margin-right: 15px">Log-In</a>
                             </li>
                         }
                         @RenderSection("UserMenu", required: false)
                        </ul>
                </div>
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ab-Sol - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Include Popper.js -->
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>*@



    @await RenderSectionAsync("Scripts", required: false)

    @if (ViewData["ShowModal"] as bool? == true)
    {
        <script>
            $(document).ready(function() {
                if (!sessionStorage.getItem('modalShown')) {
                    $('#successModal').modal('show');
                    sessionStorage.setItem('modalShown', 'true');
                }
            });
        </script>
    }
    

</body>
</html>
